section{
	display:none;
}

.active{
	display:block;
}

body{
	font-family: "lato", arial, helvetica, sans-serif;
	margin: 0;
	background-color: #EFEFEF;
}

#spinner {
  width: 40px;
  height: 40px;
  background-color: #19C589;
  display: none;

  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

a{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

/*Strip the ul of padding and list styling*/
ul {
	list-style-type:none;
	margin:0;
	padding:0;
	position: absolute;
}

/*Create a horizontal list with spacing*/
li {
	display:inline-block;
	float: left;
	margin-right: 1px;
}

/*Style for menu links*/
li a {
	display:block;
	min-width:140px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #fff;
	background: #2f3036;
	text-decoration: none;
}

/*Hover state for top level links*/
li:hover a {
	background: #19c589;
}

/*Prevent text wrapping*/
li ul li a {
	width: auto;
	min-width: 100px;
	padding: 0 20px;
}

/*Style 'show menu' label button and hide it by default*/
.show-menu {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-decoration: none;
	color: #fff;
	background: #19c589;
	text-align: center;
	padding: 10px 0;
	display: none;
}

/*Hide checkbox*/
input[type=checkbox]{
    display: none;
}

/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu{
    display: block;
}

#home{
	padding: 1em;
	text-align: center;
}

#current{
	padding: 1em;
	margin: 2em;
}

#current > h1{
	font-size: 2.3em;
}

#current > p{
	width: 100%;
}

svg{
	width: 10em;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2em;

}

#title{
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

.Fcolor{
	color: #19c589;
}

h1{
	font-size: 4em;
	margin-left: -0.5em;
	margin-top: -0.2em;
}

input{
	border: none;
	border-bottom: 0.1em solid #19c589;
	font-size: 2em;
	margin-bottom: 1em;
	background: #EFEFEF;
}

.sun{
	width: 1.5em;
	margin-right: 1em;
}

#type{
	color: #19C589;
}

#typeW{
	color: black;
}

#forecast{
	margin-top: 2em;
}

[role="button"]{
	background-color: #19C589;
	border: none;
	padding: 1em 1.5em;
	color: black;
	font-size: 1em;
	font-weight: 800;
	border-radius: 1em;
	text-decoration: none;
}


/*Responsive Styles*/

@media screen and (max-width : 760px){
	/*Make dropdown links appear inline*/
	ul {
		position: static;
		display: none;
	}
	/*Create vertical spacing*/
	li {
		margin-bottom: 1px;
	}
	/*Make all menu links full width*/
	ul li, li a {
		width: 100%;
	}
	/*Display 'show menu' link*/
	.show-menu {
		display:block;
	}
}





















