section{
	display:none;
}

.active{
	display:block;
}

body{
	font-family: "lato", arial, helvetica, sans-serif;
	background-color: springGreen;
	margin: 0;
}

h1{
	margin-left: 1em;
}

li{
	list-style-type: none;
	margin: 1em;
	margin-left: -3em;
}

a{
	text-decoration: none;
	display: block;
	padding: 1em;
	width: 100%;
}

a:hover{
	color: papayawhip;
	background-color: blue;
	cursor: pointer;
}

#current{
	padding: 1em;
}

#overview > article:nth-of-type(odd){
	background-color: red;
	padding: 1em;
}

#overview > article:nth-of-type(even){
	background-color: green;
	padding: 1em;
}

#spinner {
  width: 40px;
  height: 40px;
  background-color: white;
  display: none;

  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

a{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}