section{
	display:none;
}

.active{
	display:block;
}

body{
	font-family: "lato", arial, helvetica, sans-serif;
	background-color: springGreen;
}



li{
	list-style-type: none;
	margin: 1em;
}

a{
	text-decoration: none;
	display: block;
	padding: 1em;
	width: 100%;
}

a:hover{
	color: papayawhip;
	background-color: blue;
	cursor: pointer;
}